@import "tailwindcss";

/* .badge-container {
  position: relative;
  display: inline-block;
}

.badge-content {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: tomato; 
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 0.75rem;
  min-width: 24px;
  text-align: center;
} */

@layer components {
  .header-icon {
    @apply 
      relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto
      hover:bg-gray-800; 
  }
  .cart-card-icon {
    @apply 
      relative flex items-center justify-center h-10 w-10 mt-2 mb-2 mx-auto
      hover:bg-gray-800; 
  }
  .button-blue {
    @apply 
      inline-flex items-center 
      text-white bg-blue-900 box-border border border-transparent 
      hover:bg-blue-800
      focus:ring-1 focus:ring-blue-700 
      shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2.5 
      focus:outline-none;
  }
  .card {
    @apply
      flex flex-col
      bg-gray-700 block w-auto text-white p-6 border border-gray-200 rounded-md shadow-xs;
  }
  .heading {
    @apply
      mb-3 text-3xl font-semibold tracking-tight text-white leading-8;
  }
  .select {
    @apply
      m-auto p-2 bg-gray-700
      border border-gray-700 text-white text-sm rounded-md focus:ring-2 focus:border-black
      shadow-xs placeholder:text-gray-400
  }
  .input-search {
    @apply
      w-auto p-2 m-2 ps-4
      border border-gray-900 text-sm rounded-md focus:ring-1 focus:border-black shadow-xs placeholder:text-gray-500
  }
  .radio {
    @apply
      w-4 h-4 mx-1
      text-white
      border-gray-900 bg-white rounded-full
      checked:border-blue-900 checked:border-5 focus:ring-2
      focus:outline-none focus:ring-blue-900
      border border-gray-900 appearance-none
  }
}