@import "tailwindcss";

/* .badge-container {
  position: relative;
  display: inline-block;
}

.badge-content {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: tomato; 
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 0.75rem;
  min-width: 24px;
  text-align: center;
} */

@layer components {
  .header-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto
    hover:bg-gray-800; 
  }
}